
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-alert-dialog/paper-alert-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-error.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">




<link rel="import" href="../shared-styles.html">

<dom-module id="creacion-clientes">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        text-align: center;
      }

      .task{
        display: flex;
        align-items: center;
      }
    </style>

    <iron-localstorage
      name="user-storage"
      value="{{storedUser}}"
      on-iron-localstorage-load="initStoredUser">
    </iron-localstorage>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <div class="card">
      <p hidden$="[[storedUser.loggedin]]">Debes <a href="/registerlogin">iniciar sesión</a> para acceder a la creación de clientes</p>

      <div hidden$="[[!storedUser.loggedin]]">
          <p>
              <h3>Creación de Clientes</h3>

              <paper-input always-float-label label="Id cliente" value="{{idcliente::input}}"  required auto-validate error-message="valor obligatorio"> </paper-input>
              <paper-input always-float-label label="Apellido Paterno" value="{{apellido_paterno::input}}" required auto-validate error-message="valor obligatorio"> </paper-input>
              <paper-input always-float-label label= "Apellido Materno" value="{{apellido_materno::input}}"> </paper-input>
              <paper-input always-float-label label="Nombre(s)" value="{{nombre::input}}" required auto-validate error-message="valor obligatorio"> </paper-input>
              <paper-input always-float-label label="Banca"  value="{{banca::input}}" required auto-validate error-message="valor obligatorio"> </paper-input>
              <paper-input always-float-label label="Tipo de Persona" value="{{tipo_persona::input}}" required auto-validate error-message="valor obligatorio" > </paper-input>

              <h3>Agregar cuentas</h3>

              <paper-input always-float-label label="Numero de cuenta" value="{{num_cta::input}}" required= "required" required auto-validate error-message="valor obligatorio"> </paper-input>
              <paper-input always-float-label label="Tipo de cuenta" value="{{tipo_cta::input}}" required= "required" required auto-validate error-message="valor obligatorio"> </paper-input>

              <paper-button on-tap="openDialog" raised >Alta</paper-button>

              <paper-alert-dialog
                id="dialog"
                title="Alta de cliente"
                dismiss-button="Cancel"
                confirm-button="Aceptar"
                on-confirm="agregarCliente"
                on-dismiss="dismiss">
                ¿Estás seguro de realizar el alta del cliente?
              </paper-alert-dialog>

              <paper-alert-dialog
                id="dialog_error"
                title="Error al insertar al cliente"
                confirm-button="OK"
                on-confirm="salir">
                Hubo un error al insertar al cliente.
              </paper-alert-dialog>

              <paper-alert-dialog
                id="dialog_alta_exitosa"
                title="Alta exitosa"
                confirm-button="OK"
                on-confirm="salir">
                El cliente fue dado de alta de forma exitosa
              </paper-alert-dialog>
        </p>

      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CreacionClientes extends Polymer.Element {
      static get is() { return 'creacion-clientes'; }
      static get properties() {
        return {
          clientes:{
            type: Array,
            notify: true,
          },
          tasks: {
            type: Array,
            value: () => [1,2,3]
          },
          idcliente:{
            type: Number
          },
          nombre:{
            type: String
          },
          apellido_paterno:{
            type: String
          },
          apellido_materno:{
            type: String
          },
          nombre:{
            type: String
          },
          banca:{
            type: String
          },
          tipo_persona:{
            type: String
          },
          num_cta:{
            type: Number
          },
          tipo_cta:{
            type: String
          },
          tipo_movimiento:{
            type: String,
            value: "apertura"
          },
          importe:{
            type: Number,
            value: 0
          },
          cliente_nuevo:{
            type: Object,
            notify: true
          },
          _id:{
            type:Object
          }
        };
      }


      agregarCliente(){
        var idcliente = this.idcliente;
        console.log ("id del cliente"+idcliente)
        var nombre = this.nombre;
        var apellido_paterno = this.apellido_paterno;
        var apellido_materno = this.apellido_materno;
        var banca = this.banca;
        var tipo_persona = this.tipo_persona;
        var tipo_movimiento = this.tipo_movimiento;
        var importe = this.importe;
        var num_cta = this.num_cta;
        var tipo_cta = this.tipo_cta;
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3000/client2", false);
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoCliente = {
                            "idcliente": idcliente,
                            "nombre": nombre,
                            "apellido_paterno": apellido_paterno,
                            "apellido_materno": apellido_materno,
                            "banca": banca,
                            "tipo_persona": tipo_persona,
                            "cuentas": [
                                {
                                "num_cta": num_cta,
                                "tipo_cta": tipo_cta
                                }
                            ]
                        };
        var body = JSON.stringify(nuevoCliente);
        console.log("Este es el cuerpo a insertar: " + body);
        request.send(body);
        console.log("estatus: " + request.status)
        if (request.status == 200){
          this.cliente_nuevo = JSON.parse(request.responseText);
          console.log(this.cliente_nuevo);
          this.agregarPrimerMovimiento()
          this.$.dialog_alta_exitosa.open();
        }
        else
          this.$.dialog_error.open();

      }

      agregarPrimerMovimiento(){
        var idcliente = this.idcliente;
        var num_cta = this.num_cta;
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3000/agregarMovimiento/", false);
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoMovimiento = {
                            "cliente": idcliente,
                            "cuenta": num_cta,
                            "movimientos": [
                                {
                                  "tipo_movimiento": "apertura",
                                  "importe": 0.00
                                }
                            ]
                        };
        var body = JSON.stringify(nuevoMovimiento);
        console.log("Este es el cuerpo a insertar: " + body);
        request.send(body);
        console.log("estatus: " + request.status)
        if (request.status == 200){
          var movimiento_nuevo = JSON.parse(request.responseText);
          console.log(this.movimiento_nuevo);
        }
        else
          this.$.dialog_error.open();
      }


      initStoredUser() {
          // if entering site on the secret quotes page, verify if logged in and if so, preload a secret quote
          if (this.storedUser.loggedin) {
              console.log("creación clientes")
          }
      }

      openDialog () {
          this.$.dialog.open();
        };


    }

    window.customElements.define(CreacionClientes.is, CreacionClientes);
  </script>
</dom-module>
