<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="gestor-clientes">
  <template>
    <style include="shared-styles">
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>

    <iron-localstorage
      name="user-storage"
      value="{{storedUser}}"
      on-iron-localstorage-load="initStoredUser">
    </iron-localstorage>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>


    <div class="card">
      <p hidden$="[[storedUser.loggedin]]">Debes <a href="/registerlogin">iniciar sesión</a> para acceder a la creación de clientes</p>

      <div hidden$="[[!storedUser.loggedin]]">

        <button on-click="obtenerClientes">Obtener Clientes</button>

        <div class= "row">
          <h1 class="col-lg-12">Gestor de Clientes</h1>
          <table>
            <tbody>
              <template is="dom-repeat" items="{{clientes}}">
                <tr>
                  <td>
                    [[item.idcliente]]
                  </td>
                  <td>
                    [[item.nomnbre]]
                  </td>
                  <td>
                    [[item.apellido]]
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </template>

  <script>

    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes:{
            type: Array,
            notify: true,
          }
        };
      }

      obtenerClientes(){
        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/movimientos", false);//peticiòn sicnrona = false asincrona= true
        //request.open("GET", "http://localhost:3000/movimientos", false);//peticiòn sicnrona = false asincrona= true
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
      }

      anadirCliente(){
        var request = new XMLHttpRequest();
        request.open("POST", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Accept", "application/json");
        var nuevoCliente = {"CustomerID":"12345", "ContactName": "Carol Vàzquez", "CompanyName": "BBVA Bancomer"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }


      initStoredUser() {
          // if entering site on the secret quotes page, verify if logged in and if so, preload a secret quote
          if (this.storedUser.loggedin) {
              console.log("gestor clientes")
          }
      }

    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
