<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../gestor-clientes/edicion-clientes.html">


<dom-module id="gestor-cuentas">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        text-align: center;
      }

      .task{
        display: flex;
        align-items: center;
      }
    </style>

    <iron-localstorage
      name="user-storage"
      value="{{storedUser}}"
      on-iron-localstorage-load="initStoredUser">
    </iron-localstorage>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <paper-alert-dialog
      id="dialog_error"
      title="Error al buscar al cliente"
      confirm-button="OK"
      on-confirm="salir">
      Hubo un error al buscar al cliente.
    </paper-alert-dialog>

    <paper-alert-dialog
      id="dialog_sin_elementos"
      title="No hay movimientos"
      confirm-button="OK"
      on-confirm="salir">
      El cliente aun no tiene movimientos.
    </paper-alert-dialog>



    <div class="card">
      <p hidden$="[[storedUser.loggedin]]">Debes <a href="/registerlogin">iniciar sesión</a> para acceder a la creación de clientes</p>

      <div hidden$="[[!storedUser.loggedin]]">

          <h3 class="col-lg-12">Búsqueda de Cliente por ID</h3>
            <p>
              <paper-input always-float-label label="Id Cliente" value="{{idCliente_entrada::input}}" id="idCliente_entrada" required= "required"> </paper-input>

              <!--<input type="text" id="idCliente_entrada" value="{{idCliente_entrada::input}}" required= "required"/>-->
              <paper-button on-tap="obtenerInfoCliente" raised >Buscar Cliente</paper-button>

            </p>

        <div class= "row">
          <table class="table-striped col-lg-12 col-xs-12">
            <thead>
              <th> Número de cliente </th>
              <th> Nombre </th>
              <th> Banca </th>
              <th> Tipo de persona </th>
            </thead>
            <tbody>
              <tr>
                <td>[[clientes.idcliente]]</td>
                <td>[[clientes.apellido_paterno]]      [[clientes.apellido_materno]]     [[clientes.nombre]]</td>
                <td>[[clientes.banca]]</td>
                <td>[[clientes.tipo_persona]]</td>
              </tr>
            </tbody>
          </table>
        </div>



      <h3> Cuentas</h3>


            <table class="table-striped col-lg-12 col-xs-12">
              <thead >
                <tr>
                  <th> Número de cuenta</th>
                  <th> Tipo de Cuenta </th>
                  <th> Saldo actual </th>
                  <th> Acciones </th>
                </tr>
              </thead>

              <tbody>
                <template is="dom-repeat" items= "{{clientes.cuentas}}" as= "cuenta">
                <tr>
                  <td>{{cuenta.num_cta}}</td>
                  <td>{{cuenta.tipo_cta}}</td>
                  <td>{{cuenta.saldo_actual}}</td>
                  <td><paper-button on-tap="obtenerMovimientos" raised >Movimientos</paper-button></td>
                </tr>
                </template>
              </tbody>

            </table>


            <h3> Movimientos</h3>

            <table class="table-striped col-lg-12 col-xs-12">
              <thead >
                <tr>
                  <th> Id Movimiento </th>
                  <th> Tipo de Movimiento</th>
                  <th> Fecha de Movimiento </th>
                  <th> Importe </th>
                </tr>
              </thead>

              <tbody>
                <template is="dom-repeat" items= "{{movimientos.movimientos}}" as= "mov">
                <tr>
                  <td>[[mov._id]]</td>
                  <td>[[mov.tipo_movimiento]]</td>
                  <td>[[mov.fecha_movimiento]]</td>
                  <td>[[mov.importe]]</td>
                </tr>
                </template>
              </tbody>
            </table>


          </div>
      </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorCuentas extends Polymer.Element {
      static get is() { return 'gestor-cuentas'; }
      static get properties() {
        return {
          clientes:{
            type: Object,
            notify: true,
          },
          idCliente_entrada:{
            type: String
          },
          movimientos:{
            type: Object,
            notify: true,
          }

        };
      }

      obtenerInfoCliente(){
        var idCliente_entrada = this.idCliente_entrada;
        console.log(idCliente_entrada);
        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/client2/" + idCliente_entrada, false);
        //request.open("GET", "http://localhost:3000/client2/5b9af21b7b57501b36deaff2", false);
        request.send();
        console.log("estatus: " + request.status)

        if (request.status == 200){
          this.clientes = JSON.parse(request.responseText);
          console.log(this.clientes);
        }
        else{
          this.$.dialog_error.open();
        }
      }

      obtenerMovimientos(e){
        var cuenta = e.model.cuenta.num_cta;
        console.log("Id cuenta: "+cuenta)

        var cliente = this.clientes.idcliente;
        console.log("Id cliente: " +cliente);

        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/getMovimiento/", false);
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader("cuenta", cuenta);
        request.setRequestHeader("cliente", cliente);
        request.send();
        console.log("estatus de respuesta: " + request.status)
        if (request.status == 200){
          this.movimientos = JSON.parse(request.responseText);
          console.log(this.movimientos);
          if(this.movimientos.length ==0)
            this.$.dialog_sin_elementos.open();
        }
        else{
          this.$.dialog_error.open();
        }
      }

      initStoredUser() {
          // if entering site on the secret quotes page, verify if logged in and if so, preload a secret quote
          if (this.storedUser.loggedin) {
              console.log("gestor cuentas")
          }
      }



    }

    window.customElements.define(GestorCuentas.is, GestorCuentas);
  </script>
</dom-module>
