<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">

<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">

<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="../gestor-clientes/creacion-clientes.html">
<link rel="import" href="../gestor-clientes/edicion-clientes.html">
<link rel="import" href="../gestor-clientes/gestor-clientes.html">
<link rel="import" href="../gestor-clientes/listado-clientes.html">

<link rel="import" href="../gestor-cuentas/creacion-cuentas.html">
<link rel="import" href="../gestor-cuentas/gestor-cuentas.html">

<link rel="import" href="../my-view404.html">
<link rel="import" href="../my-icons.html">


<link rel="import" href="register-login.html">
<link rel="import" href="log-out.html">
<link rel="import" href="home-quotes.html">
<link rel="import" href="secret-quotes.html">



<dom-module id="gestor-login">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
        display: block;
      }
      app-drawer-layout:not([narrow]) [drawer-toggle] {
       display: none;
     }

     app-header {
       color: #fff;
       background-color: var(--app-primary-color);
     }

     app-header paper-icon-button {
       --paper-icon-button-ink-color: white;
     }

     .drawer-list {
       margin: 0 20px;
     }

     .drawer-list a {
       display: block;
       padding: 0 16px;
       text-decoration: none;
       color: var(--app-secondary-color);
       line-height: 40px;
     }

     .drawer-list a.iron-selected {
       color: black;
       font-weight: bold;
     }

      app-header .greeting,
      app-header a {
        color: #fff;
        font-size: 13px;
      }
      app-header .greeting {
        border-right: 1px solid rgba(255,255,255,.5);
        display: inline-block;
        padding-right: 6px;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location
      route="{{route}}"
      url-space-regex="^/" >
    </app-location>

    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menu</app-toolbar>
          <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
            <!--
            <a name="homequotes" href="/homequotes">Home</a> -->

            <div hidden$="[[!storedUser.loggedin]]">
              <!--
              <a name="secretquotes" href="/secretquotes">Secret Quotes</a> -->
              <a name="listadoclientes" href="/listadoclientes">Listado de clientes</a>
              <a name="gestorcuentas" href="/gestorcuentas">Búsqueda de clientes</a>
              <a name="creacionclientes" href="/creacionclientes">Creacion de clientes</a>
              <a name="edicionclientes" href="/edicionclientes">Edicion de clientes</a>

              <!--
              <a name="gestorclientes" href="/gestorclientes">Gestor de clientes</a>
              <a name="creacioncuentas" href="/creacioncuentas">Creacion de cuentas</a>  -->
            </div>
          </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Proyecto Tech University</div>
            <a name="registerlogin" href="/registerlogin" hidden$="[[storedUser.loggedin]]">Iniciar sesión</a>
            <div hidden$="[[!storedUser.loggedin]]">
              <span class="greeting">Bienvenido [[storedUser.name]]!</span>
              <log-out stored-user="{{storedUser}}" link></log-out>
            </div>
          </app-toolbar>
        </app-header>


        <iron-pages selected="[[page]]"
                  attr-for-selected="name"
                  fallback-selection="notfound"
                  role="main">
              <!--
              -->
              <creacion-clientes name="creacionclientes"></creacion-clientes>
              <edicion-clientes name="edicionclientes"></edicion-clientes>
              <gestor-clientes name="gestorclientes"></gestor-clientes>
              <listado-clientes name="listadoclientes"></listado-clientes>
              <creacion-cuentas name="creacioncuentas"></creacion-cuentas>

              <gestor-cuentas name="gestorcuentas"></gestor-cuentas>


              <home-quotes name="homequotes"></home-quotes>
              <register-login name="registerlogin"></register-login>
              <secret-quotes name="secretquotes"></secret-quotes>
              <div name="notfound"> No encontrado</div>
        </iron-pages>

      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>

    class GestorLogin extends Polymer.Element {
      static get is() { return 'gestor-login'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          storedUser: Object,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'gestorcuentas';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
/*         // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true); */
      }

      _showPage404() {
        this.page = 'not-found';
      }
    }
    window.customElements.define(GestorLogin.is, GestorLogin);
  </script>
</dom-module>
