<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="secret-quotes">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px 20px;
      }
    </style>

    <div class="card">
      <h1>Secret Quotes</h1>

      <div hidden$="[[!storedUser.loggedin]]">
        <p>Hola, [[storedUser.name]]! ya puedes acceder a una nueva frase secreta</p>
        <blockquote>[[secretQuote]]</blockquote>
        <paper-button class="primary" raised on-tap="getSecretQuote">Generar una nueva frase secreta</paper-button>
      </div>

      <p hidden$="[[storedUser.loggedin]]">Debes <a href="/registerlogin">iniciar sesión</a> para acceder a secret quotes!</p>

    </div>

    <iron-localstorage
      name="user-storage"
      value="{{storedUser}}"
      on-iron-localstorage-load="initStoredUser">
    </iron-localstorage>

  <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

  <iron-ajax
    id="getSecretQuoteAjax"
    method="get"
    url="http://localhost:3001/api/protected/random-quote"
    handle-as="text"
    last-response="{{secretQuote}}">
  </iron-ajax>

  </template>

  <script>
    class SecretQuotes extends Polymer.Element {
      static get is() { return 'secret-quotes'; }
      static get properties() {
        return {

        };
      }

      initStoredUser() {
          // if entering site on the secret quotes page, verify if logged in and if so, preload a secret quote
          if (this.storedUser.loggedin) {
              this.getSecretQuote();
          }
      }

      getSecretQuote() {
          // add token authorization and generate Ajax request
          this.$.getSecretQuoteAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
          this.$.getSecretQuoteAjax.generateRequest();
      }

    }

    window.customElements.define(SecretQuotes.is, SecretQuotes);
  </script>
</dom-module>
